#listItems{
    display: inline-block;
    margin: 8px;
    padding: 8px;
    width: 25em;
    border: 2px rgb(14, 85, 250) solid;
}

.altImage{
    width: 8em;
}

.emptyItems {
    max-width: 50%;
    max-height: 10em;
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(80, 80, 80);
}
