.nav-tabs .addList {
    border-top: 1px solid #007bff;
    border-left: 1px solid #007bff;
    border-right: 1px solid #007bff;
    color: #007bff;
    font-weight: bolder;
    margin: 3px;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
}

/* #userList {
    border-top: 1px solid #007bff;
    border-left: 1px solid #007bff;
    border-right: 1px solid #007bff;
    color: #007bff;
    font-weight: bold;
} */

#userList{
    margin: 3px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
}

#userList.active{
    background-color: #007bff;
    color: #fff;
    margin: 3px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
}


.listStyle{
    /* border: 3px solid rgb(14, 85, 250); */
    border: 3px solid grey;
    padding: 15px;
    border-radius: 10px;
}

.emptyItems {
    max-width: 50%;
    max-height: 10em;
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(80, 80, 80);
}